
.lst-kix_4xf9sowwueha-1>li:before {
    content: "-  "
}

ul.lst-kix_4xf9sowwueha-3 {
    list-style-type: none
}

ul.lst-kix_osn2b0qga8pf-7 {
    list-style-type: none
}

ul.lst-kix_4xf9sowwueha-4 {
    list-style-type: none
}

ul.lst-kix_osn2b0qga8pf-6 {
    list-style-type: none
}

ul.lst-kix_4xf9sowwueha-1 {
    list-style-type: none
}

ul.lst-kix_osn2b0qga8pf-5 {
    list-style-type: none
}

ul.lst-kix_4xf9sowwueha-2 {
    list-style-type: none
}

ul.lst-kix_osn2b0qga8pf-4 {
    list-style-type: none
}

ul.lst-kix_osn2b0qga8pf-3 {
    list-style-type: none
}

ul.lst-kix_4xf9sowwueha-0 {
    list-style-type: none
}

ul.lst-kix_osn2b0qga8pf-2 {
    list-style-type: none
}

.lst-kix_4xf9sowwueha-0>li:before {
    content: "-  "
}

ul.lst-kix_osn2b0qga8pf-1 {
    list-style-type: none
}

ul.lst-kix_osn2b0qga8pf-0 {
    list-style-type: none
}

.lst-kix_4xf9sowwueha-8>li:before {
    content: "-  "
}

.lst-kix_4xf9sowwueha-3>li:before {
    content: "-  "
}

.lst-kix_4xf9sowwueha-2>li:before {
    content: "-  "
}

ul.lst-kix_osn2b0qga8pf-8 {
    list-style-type: none
}

.lst-kix_dvs7srj3kmnw-7>li:before {
    content: "\0025cb   "
}

.lst-kix_4xf9sowwueha-4>li:before {
    content: "-  "
}

.lst-kix_dvs7srj3kmnw-8>li:before {
    content: "\0025a0   "
}

.lst-kix_4xf9sowwueha-5>li:before {
    content: "-  "
}

.lst-kix_4xf9sowwueha-7>li:before {
    content: "-  "
}

.lst-kix_4xf9sowwueha-6>li:before {
    content: "-  "
}

.lst-kix_osn2b0qga8pf-6>li:before {
    content: "-  "
}

.lst-kix_dvs7srj3kmnw-6>li:before {
    content: "\0025cf   "
}

.lst-kix_dvs7srj3kmnw-5>li:before {
    content: "\0025a0   "
}

.lst-kix_dvs7srj3kmnw-4>li:before {
    content: "\0025cb   "
}

.lst-kix_osn2b0qga8pf-7>li:before {
    content: "-  "
}

.lst-kix_osn2b0qga8pf-8>li:before {
    content: "-  "
}

.lst-kix_dvs7srj3kmnw-2>li:before {
    content: "\0025a0   "
}

.lst-kix_dvs7srj3kmnw-1>li:before {
    content: "\0025cb   "
}

.lst-kix_dvs7srj3kmnw-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_dvs7srj3kmnw-8 {
    list-style-type: none
}

.lst-kix_dvs7srj3kmnw-0>li:before {
    content: "\0025cf   "
}

.lst-kix_osn2b0qga8pf-0>li:before {
    content: "-  "
}

ul.lst-kix_4xf9sowwueha-7 {
    list-style-type: none
}

ul.lst-kix_4xf9sowwueha-8 {
    list-style-type: none
}

ul.lst-kix_4xf9sowwueha-5 {
    list-style-type: none
}

ul.lst-kix_4xf9sowwueha-6 {
    list-style-type: none
}

.lst-kix_osn2b0qga8pf-5>li:before {
    content: "-  "
}

.lst-kix_osn2b0qga8pf-3>li:before {
    content: "-  "
}

.lst-kix_osn2b0qga8pf-4>li:before {
    content: "-  "
}

ul.lst-kix_dvs7srj3kmnw-3 {
    list-style-type: none
}

.lst-kix_osn2b0qga8pf-1>li:before {
    content: "-  "
}

ul.lst-kix_dvs7srj3kmnw-2 {
    list-style-type: none
}

ul.lst-kix_dvs7srj3kmnw-1 {
    list-style-type: none
}

ul.lst-kix_dvs7srj3kmnw-0 {
    list-style-type: none
}

ul.lst-kix_dvs7srj3kmnw-7 {
    list-style-type: none
}

ul.lst-kix_dvs7srj3kmnw-6 {
    list-style-type: none
}

ul.lst-kix_dvs7srj3kmnw-5 {
    list-style-type: none
}

.lst-kix_osn2b0qga8pf-2>li:before {
    content: "-  "
}

ul.lst-kix_dvs7srj3kmnw-4 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c9 {
    padding-top: 10pt;
    padding-bottom: 10pt;
    line-height: 1.5;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.5;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: italic
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c10 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c7 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c1 {
    font-size: 12pt;
    font-weight: 700
}

.c6 {
    font-size: 12pt
}

.c4 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}